---
import Layout from "../layouts/Layout.astro";
import ArticleList from "../components/article/article-list";
import Cart from "../components/cart/cart-loader";
---

<Layout title="Welcome to Astro.">
  <main class="container py-16 space-y-6">
    <h1 class="text-4xl font-bold">Shop</h1>
    <div class="flex flex-col md:flex-row gap-16">
      <div class="space-y-4 flex-1">
        <ArticleList client:load />
      </div>
      <aside class="basis-48">
        <Cart client:load />
      </aside>
    </div>
  </main>
</Layout>
